{% load static %}
{% load crispy_forms_tags %}

{% block content %}     


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="form-wrap">
  <div class="tabs">
    <h3 class="signup-tab"><a href="#signup-tab-content">Sign Up</a></h3>
    <h3 class="login-tab"><a class="active" href="#login-tab-content">Login</a></h3>
  </div>
  <div class="tabs-content">
    <div id="signup-tab-content">
      <form class="signup-form" action="" method="post">
        <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
        <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
        <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
        <input type="submit" class="button" value="Sign Up">
      </form>
    </div>
    <div id="login-tab-content" class="active">
      <form class="login-form" action="" method="post">
        {% csrf_token %}
        {{ login_form|crispy }}
        <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
        <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
        <input type="checkbox" class="checkbox" id="remember_me">
        <label for="remember_me">Remember me</label>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="help-text">
        <p><a href="#">Forget your password?</a></p>
      </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>


<script src="{% static 'js/login.js' %}"></script>

{% endblock content %}