{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/arrangements.css' %}">

<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="card">
				<h1 class="card-title">In lieu of flowers:</h1>
				<h2 class="card-text">Please send memorial contributions to the Springfield Fire Department</h2>
				<h3 class="card-text"><a href="https://www.springfieldfd.com/donate/" target="_blank">To donate click here</a></h3>
				<hr>
				<br>
				<h1 class="card-title">Please send any gifts to:</h1>
				<h2 class="card-text">119 Ashwood Road<br>Springfield, PA 19064</h2>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<h5 class="card-title">title</h5>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<h5 class="card-title">title</h5>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<h5 class="card-title">title</h5>
			</div>
		</div>
	</div>
</div>

{% endblock content %}