{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/arrangements.css' %}">

<div class="container">
	<div class="row">


        <div class="container col">
			<div class="weather-card info">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
                        <h1 class="heading">In lieu of flowers:</h1>
						<h2 class="location">Please send memorial contributions to the Springfield Fire Department</h2>
						<h3 class="location"><a href="https://www.springfieldfd.com/donate/" target="_blank">To donate click here</a></h3>
                        <hr>
                        <h1 class="heading">Please send gifts to:</h1>
                        <h2 class="location">119 Ashwood Rd</h2>
                        <h2 class="location">Springfield, PA 19064</h2>

					</div>
				</div>
			</div>
		</div>


		<div class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
                        <h1 class="heading">Viewings</h1>
						<h2 class="location">Church of Saint Kevin</h2>
						<h3 class="location">200 W Sproul Rd</h3>
                        <h3 class="location">Springfield, PA 19064</h3>
                        <hr>
                        <h3 class="location">Thursday March 16, 2023</h3>
                        <h3 class="location">5pm - 8pm</h3>
                        <h3 class="location">&</h3>
                        <h3 class="location">Friday March 17, 2023</h3>
                        <h3 class="location">9:30am - 10:30am</h3>

						<!-- <p class="temp">
							<span class="temp-value">20</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
						</p> -->
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
                        <h1 class="heading">Service</h1>
						<h2 class="location">Church of Saint Kevin</h2>
						<h3 class="location">200 W Sproul Rd</h3>
                        <h3 class="location">Springfield, PA 19064</h3>
                        <hr>
                        <h3 class="location">Friday March 17, 2023</h3>
                        <h3 class="location">10:30am</h3>

						<!-- <p class="temp">
							<span class="temp-value">20</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
						</p> -->
					</div>
				</div>
			</div>
		</div>



        <div class="col">
			<div class="weather-card rain">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
                        <h1 class="heading">Interment</h1>
						<h2 class="location">SS. Peter and Paul Cemetery</h2>
						<h3 class="location">1600 Sproul Rd</h3>
                        <h3 class="location">Springfield, PA 19064</h3>
                        

						<!-- <p class="temp">
							<span class="temp-value">20</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
						</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock content %}