{% extends 'index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>


 <div class="container">

    <div class="row">
    <div class="col-lg-12 text-center my-2">
        <h4>"I got a story for ya..."</h4>
    </div>
    </div>
    <div class="portfolio-menu mt-2 mb-4">
    <ul>
        <li class="btn btn-outline-primary active" data-filter="*">All</li>
        <li class="btn btn-outline-primary" data-filter=".fam">Family Man</li>
        <li class="btn btn-outline-primary" data-filter=".athlete">Athlete</li>
        <li class="btn btn-outline-primary" data-filter=".badass">Badass</li>
    </ul>
    </div>
    <div class="portfolio-item row">

        {% for image in family %}
        <div class="item fam col-lg-3 col-md-4 col-6 col-sm">
            <a href="{% static 'img/family_man/' %}{{ image }}" target="_blank" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{% static 'img/family_man/' %}{{ image }}" alt="">
            </a>
        </div>
        {% endfor %}

        {% for image in athlete %}
        <div class="item athlete col-lg-3 col-md-4 col-6 col-sm">
            <a href="{% static 'img/athlete/' %}{{ image }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{% static 'img/athlete/' %}{{ image }}" alt="">
            </a>
        </div>
        {% endfor %}

        {% for image in badass %}
        <div class="item badass col-lg-3 col-md-4 col-6 col-sm">
            <a href="{% static 'img/badass/' %}{{ image }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{% static 'img/badass/' %}{{ image }}" alt="">
            </a>
        </div>
        {% endfor %}

    </div>
</div>
      

<script src="{% static 'js/gallery.js' %}"></script>


{% endblock content %}