{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container">
    <p class="card-body">
        Vincent Patrick Berry, age 68, of Springfield and formerly East Lansdowne, passed away on March 12, 2023 surrounded by his family. Beloved husband of Margaret Jane (nee Burke); devoted father to Megan Christine (Diego), Vincent Alexander (Whitney), Daniel Patrick (Megan), and Bryan Robert (Megan). Proud “Poppy” to Henley Rose, Connell Burke, Luis Tomás, and Alejandro; and beloved brother to Betty Jane (Michael), Francis (Sue), and John (Kathleen). Vince was predeceased by his parents, Vincent and Jane. 

        Vince was a real-life hero to all who knew him and an Eagle Scout. Vince was known for his smile, kindness, intensity, work-ethic, and stories.  He was often seen running around Delaware County and completed dozens of marathons - often gifting his supporters with sweaty hugs, encouraging his fellow marathoners, and telling stories along the course. 
        
        Vince worked as a firefighter and Emergency Response Technician at the South Philadelphia Refinery for more than 45 years. He also volunteered at the East Lansdowne Fire Company as a firefighter, trainer, and Fire Marshall. After leaving the refinery, Vince worked at the Springfield Fire Company until his death. He loved being a firefighter and first responder and loved telling stories after every “good job”. He especially enjoyed teaching and mentoring more junior firefighters and first responders. 
        
        Vince’s greatest joy was his family. He was always there when his children needed him whether working on a car, mowing the lawn, or helping them move. He spent countless days on the banks of the Schuylkill River and other regatta courses watching his children row and many weekends poolside at swim meets. He worshiped Margie for over 40 years taking every opportunity to make her smile.
        
        Relatives and friends are invited to a visitation at Church of Saint Kevin, 200 W. Sproul Road, Springfield, PA 19064 on Thursday, March 16, 2023 from 5-8 PM and on Friday, March 17th from 9:30-10:30 AM. A Funeral Mass will follow the visitation on Friday at 10:30 AM in the church. Interment in SS Peter & Paul Cemetery, Springfield.
        
        A website has also been established to share photos and stories of Vince at www.vinceberry.com. In lieu of flowers, memorial contributions can be made to the Springfield Fire Company at www.springfieldfd.com/donate. 
        
        Arrangements entrusted to Monaghan Funeral Home, Inc. (215) 679-6400
    </p>
</div>

{% endblock content%}